<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div>
       
        <a href="{{url_for('service')}}">Service</a>
        {% if current_user.is_anonymous %}
        <a href="{{url_for('login')}}">Login</a>
        {% else %}
        <a href="{{url_for('user', username=current_user.username )}}">Profile</a>
        <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <main>
        {% block main %}{% endblock %}
    </main>

    {% block script%}{% endblock %}

</body>

</html>