{% extends "base.html" %}

{% block main%}

<h1>Sign Up</h1>
<form action="" method="POST" novalidate>

    {{form.hidden_tag() }}
    <p>
        {{form.username.label}}<br>
        {{form.username(size = 32)}}
        {% for error in form.username.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.email.label}}<br>
        {{form.email(size = 32)}}
        {% for error in form.email.errors%}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.password.label}}<br>
        {{form.password(size = 32)}}
        {% for error in form.password.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.password2.label}}<br>
        {{form.password2(size = 32)}}
        {% for error in form.password2.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>

</form>
{% endblock %}